<% if object.errors.any? %>
  <h4>
    <%= pluralize(object.errors.count, "error") %>
    prohibited this form from being saved:
  </h4>

  <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
